In [46]:
import pandas as pd
import json

base_result = "base_prompt_248264623217713294771470079546488913479.jsonl_results.jsonl" 
instruct_result = "instruct_prompt_248264623217713294771470079546488913479.jsonl_results.jsonl"
# Load JSON data from two files
base_df = pd.read_json(base_result, lines=True)
instruct_df = pd.read_json(instruct_result, lines=True)
df = pd.merge(base_df, instruct_df, on='task_id', suffixes=('_base', '_instruct'))[['task_id', 'passed_base', 'passed_instruct']]
df['num'] = df['task_id'].str.split('/').str[1].astype(int)
df.sort_values(by='num', inplace=True)
df.drop(columns='num', inplace=True)
df

          task_id  passed_base  passed_instruct
19    HumanEval/3         True            False
17   HumanEval/21        False            False
15   HumanEval/23        False             True
6    HumanEval/26        False            False
2    HumanEval/36        False             True
11   HumanEval/40         True            False
8    HumanEval/46        False            False
13   HumanEval/52        False            False
4    HumanEval/54        False            False
14   HumanEval/55         True            False
12   HumanEval/75        False            False
0    HumanEval/81        False            False
9    HumanEval/83        False            False
18   HumanEval/86        False            False
3    HumanEval/88        False            False
5   HumanEval/100        False            False
1   HumanEval/101        False            False
16  HumanEval/102        False            False
10  HumanEval/123        False            False
7   HumanEval/132        False            False

In [48]:
latex_table = df.to_latex(index=False)
print(latex_table)

\begin{tabular}{lrr}
\toprule
task_id & passed_base & passed_instruct \\
\midrule
HumanEval/3 & True & False \\
HumanEval/21 & False & False \\
HumanEval/23 & False & True \\
HumanEval/26 & False & False \\
HumanEval/36 & False & True \\
HumanEval/40 & True & False \\
HumanEval/46 & False & False \\
HumanEval/52 & False & False \\
HumanEval/54 & False & False \\
HumanEval/55 & True & False \\
HumanEval/75 & False & False \\
HumanEval/81 & False & False \\
HumanEval/83 & False & False \\
HumanEval/86 & False & False \\
HumanEval/88 & False & False \\
HumanEval/100 & False & False \\
HumanEval/101 & False & False \\
HumanEval/102 & False & False \\
HumanEval/123 & False & False \\
HumanEval/132 & False & False \\
\bottomrule
\end{tabular}

In [ ]:



# Merge the two DataFrames on task_id


# Display the merged DataFrame